// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$color-primary: #D58300;
$color-primary-light: #D6A900;
$color-primary-dark: #D65F00;
$color-secondary: #0052D6;
$color-secondary-light: #0077D6;
$color-secondary-dark: #002DD6;
$color-text-white: #fff;
$color-text-black: #000;
$color-warning: #52D600;
$color-error: #D61600;



